# Virtual environment
venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/raw/
data/downloads/
data/processed/
data/interim/

# Large raw OSM data
data/labels/raw/

# Outputs
outputs/

# Trained models
models/*.pth
models/*.pt

# Logs
*.log

# SNAP
*.SAFE
*.dim
*.data

# Large rasters
*.tif
*.tiff

# OS
.DS_Store
Thumbs.db

# Others
.env
*.part